.product {
  /* width: 600px; */
  height: 380px;
  border-radius: 10px;
  transition: 0.4s ease;
}
.product:hover {
  cursor: pointer;
  box-shadow: 1px -1px 14px 5px rgba(99, 85, 85, 0.5);
  -webkit-box-shadow: 1px -1px 14px 5px rgba(99, 85, 85, 0.5);
  -moz-box-shadow: 1px -1px 14px 5px rgba(99, 85, 85, 0.5);
}
