.register {
  display: flex;

  justify-content: center;
}
#standard-basic {
  width: 435px;
  height: 32px;
}
.registerCon {
  width: 570px;
  height: 500;
  border: 1px solid #ababab;
  padding: 0px 47px;
  border-radius: 5px;
}
h4 {
  padding-top: 2px;
}

.registerBtn {
  display: block;
  padding: 10px 0px;
  width: 100%;
  margin: 30px auto;
  color: whitesmoke;
  background-color: #71ba58;
}
.borders {
  text-align: center;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.borders p {
  border-bottom: 1px solid #aaaaaa;
  margin: 13px 9px;
  color: #aaaaaa;
  width: 200px;
}

.registerBtn:hover {
  background-color: #88f764;
}

.registerAlready {
  font-size: 16px;
  color: #000000;
}
.registerAlready a {
  font-size: 16px;
  color: #71ba58;
}
.facebookBtn img,
.googleBtn img {
  width: 35px;
  float: left;
}

.facebookBtn,
.googleBtn {
  height: 51px;
  width: 461px;
  border-radius: 57px;
  margin: 0px auto;
}

.socialButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
